@{
    Layout = "_Layout";
}   

    <div class="container">


    
    <div style="border:1px solid black; width:150px; height:150px; background-color:blue;"></div>
        <h1>Burası home controller - ındex actiions</h1>

        <a href="#">content</a>
</div>